@{
	ViewData["Title"] = "Homeopathy";
}
@model Product
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<link rel="stylesheet" href="~/css/Details.css" />

<div class="header">
	<div class="top-nav">
		<ul>
			<li><a asp-controller="Shop" asp-action="Index">Назад</a></li>
		</ul>
	</div>
</div>

<div class="container">
	<div class="item">
		<img src="~/images/shop images/@Model.ImageUrl" alt="@Model.Name" />
		<h3>@Model.Name</h3>
		<h5>@Model.Price</h5>
		<h4>@Model.Description</h4>
		<a asp-controller="Cart" asp-action="AddToCartThroughDetails" asp-route-productId="@Model.ProductId" class="btn-primary">Add to Cart</a>
	</div>
</div>