@model List<Holistica.Models.Product>

@{
    ViewData["Title"] = "Homeopathy";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<link rel="stylesheet" href="~/css/Shop.css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="js/addtocart.js"></script>

<div class="header">
	<div class="top-nav">
		<ul>
			<li><a asp-controller="Home" asp-action="Index">Начало</a></li>
			<li><a asp-controller="Navigation" asp-action="Homeopathy">За нас</a></li>
			<li><a asp-controller="Navigation" asp-action="Homeopathy">Контакти</a></li>
			<li><a asp-controller="Shop" asp-action="Index">Магазин</a></li>
			<li><a asp-controller="Cart" asp-action="Index">Виж количка</a></li>
			
			@if (User.IsInRole("Admin"))
			{
				<li><a asp-controller="Shop" asp-action="AddProduct">Добави продукт</a></li>
				<li><a asp-controller="Shop" asp-action="AddQuantity">Добави количество</a></li>
			}

		</ul>
	</div>
	<div class="search-bar">
		<input type="text" placeholder="Търсене..." />
	</div>
</div>

<div class="container">
	<div class="items">

		@foreach (var product in Model)
		{
			@* if (product.Quantity == 0)
			{
				continue;
			} *@

			<div class="item">
				<div class="productImage">
					<a href="@Url.Action("Details", "Shop", new { id = product.ProductId })">
						<img src="@Url.Content($"~/images/shop images/{product.ImageUrl}")">
					</a>
				</div>
				<div class="productName"><h4>@product.Name</h4></div>
				<div class="productPrice"><h5>@product.Price</h5></div>
				<button type="submit" class="addToCart" data-product-id="@product.ProductId">Купи</button>
			</div>
		}

	</div>
</div>

